<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddtpt.android.yffa">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.MyNoActionBar">
        <activity android:name=".LoadScreenActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yffa"></data>
            </intent-filter>
        </activity>

        <activity android:name=".RosterListActivity" ></activity>

        <activity android:name=".StatValueListActivity"></activity>

        <activity android:name=".MainPagerActivity"></activity>

        <activity android:name=".MatchupActivity"></activity>


    </application>
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>
